* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'PlayFair Display';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.search-results {
  text-align: center;
  margin: 2%;
}

.card {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15%, 1fr));
  grid-gap: 3em;
  padding: 2em;
}
