* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'PlayFair Display';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.search-results {
  text-align: center;
  margin: 2%;
}

.articles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15%, 1fr));
  grid-gap: 3em;
  padding: 2em;
}

input:focus::placeholder {
  color: transparent;
}

header {
  text-align: center;
  margin: 1%;
  font-size: 5em;
  border-bottom: 3px solid rgb(249, 236, 101);
}

a {
  font-family: inherit;
  font-size: 2em;
  color: inherit;
  text-decoration: inherit;
}